@font-face {
    font-family: 'roboto-regular';
    src: url("https://appassets.androidplatform.net/res/font/roboto.ttf")
}

@font-face {
    font-family: 'roboto-medium';
    src: url("https://appassets.androidplatform.net/res/font/roboto_medium.ttf")
}

body {
    width:90%;
    height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width:280px;
    height:500px;
}